* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #302C42;
}

h1 {
    font-size: 46px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    padding-top: 34px;
    margin-bottom: 36px;
}

img {max-width: 100%;}

ul {
    list-style-type: none;
    color:rgba(255, 255, 255, 1);
}

.contact-us {
    width: 154px;
    height: 48px;
    border-radius: 40px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    background-color: #302C42;
    margin-right: 38px;
}

.contact-us:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.join-hydra {
    width: 155px;
    height: 48px;
    border-radius: 40px;
    border: none;
    color:#343045;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}

.join-hydra:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.btn-burger {
    background-color: inherit;
    border: none;
    display: none;
}

.text-nav {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    color: #FFFFFF;
    margin-right: 42px;
    text-decoration: none;
}

.nav-item:hover {
    transform:scale(1.2);
}

.logo-img {
    margin-right: 15px;
}

.martop-sec-1 {
    margin-top: 98px;
}

.span-h1 {
    background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    background-clip: text;
    color: transparent;
}

.p-text-sec-1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    color: #FFFFFF;

}

.d-fl-img-1 {
    display: flex;
    justify-content: end;
}

.btn_build {
    width: 214px;
    height: 48px;
    border-radius: 40px;
    border: none;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    color: #343045;
    margin-top: 66px;
}

.btn_build:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.pad-lef-arrowsmall {
    padding-left: 40px;
}

.box-container-sec-2 {
    margin-top: 103px;
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px #C0B7E803;
    height: 167px;
    border-radius: 90px;
    align-content: center;
}

.p-text-sec2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.ptext-sec2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.img-1 {
    width: 40.83px;
    height: 61.25px;
}
.img-2 {
    width: 59px;
    height: 59px;
}
.img-3 {
    width: 65px;
    height: 65px;
}

.mr-top-94 {
    margin-top: 94px;
}

.text-p-sec-3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: #FFFFFF;
    margin-bottom: 0;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    color: #FFFFFF;
    margin-bottom: 0;
}

h3 {
    font-size: 36px;
    font-weight: 300;
    line-height: 44px;
    letter-spacing: 0em;
    color: #FFFFFF;
    margin-bottom: 0;
}

.mr-top-97 {
    margin-top: 97px;
}

.text-p-sec-4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF;
    padding-top: 90px;
}

.mr-top-107 {
    margin-top: 107px;
}

.card-box {
    max-width: 310px;
    height: 511px;
    border-radius: 40px;
    background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
}


.card-box:hover {
    transition-delay: 100ms;
    transition-duration: 600ms;
    transform:scale(1.1);
    cursor: pointer;
}


h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    color: #FFFFFF;
    border-bottom: 1px solid #C0B7E854;
    padding-bottom: 20px;
}

.text-p-card {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.btn-card {
    width: 154px;
    height: 48px;
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    color: #343045;
}



.btn-card:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    
}

.displey-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.bg-img {
    margin-top: 114px;
    background-image:url('../src/image/pixel.png');
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 190px;
    width: 1278px;
    height: 303px;
    padding-top: 108px;
}

.hh5 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.hh6 {
    font-size: 36px;
    font-weight: 300;
    line-height: 44px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.mar-top-100 {
    margin-top: 100px;
}

.mr-top-120 {
    margin-top: 120px;
}

.circle {
    margin: 0 auto;
    transform: translate(0%, 20%);
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background: linear-gradient(251.27deg, #C0B7E8 12.87%, #8176AF 89.33%);
    box-shadow: rgb(0 0 0 / 25%) 0px 0px 0px 20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.number {
    margin: 0 auto;
    transform: translate(50%, 50%);
    position: absolute;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    color: #343045;
}

.text-info {
    text-align: center;
    padding-top: 70px;
}

.text-info p {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.mar-top-112 {
    margin-top: 112px;
}


.join-hydra-text {
    padding-top: 90px;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: center;
}

.text-lets {
    font-size: 36px;
    font-weight: 300;
    line-height: 44px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 30px ;
}

.form-section {
    width: 1275px;
    height: 1008px;
    border-radius: 100px;
    background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px #00000040;
}

.section-center-form {
    text-align: center;
}

.text-input-text {
    width: 524px;
    height: 72px;
    border-radius: 40px;
    border: 2px solid #FFFFFF;
    background-color: inherit;
    color: #FFFFFF;
    padding-left: 40px;
    opacity: 4;
}

.form-area-form {
    width: 1058px;
    height: 210px;
    border-radius: 40px;
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    background-color: inherit;
    padding: 27px 42px;
}

.text-subject {
    min-width: 1058px;
    height: 72px;
    border-radius: 40px;
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    background-color: inherit;
    padding-left: 42px;
}

.input-center-area {
    padding-bottom: 39px;
}

.btn-send {
    margin-top: 51px;
    width: 214px;
    height: 48px;
    border-radius: 40px;
    border: none;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    color: rgba(52, 48, 69, 1);
}

.li-group {
    display: block;
}

.text-p-footer {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
}

.btn-footer {
    width: 214px;
    height: 48px;
    border-radius: 40px;
    border: none;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}

.btn-footer:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.bg-img-bg {
    background-image: url('/src/image/Vector\ 15.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.link-social a  {
    margin-right: 15px;
}

.li-group li {
    margin-bottom: 15px;
}

.li-group a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.13em;
    color: rgba(255, 255, 255, 1);
    margin-top: 30px;
    text-align: center;
}

.footer-end-text {
    border-top: 1px solid ;
    margin-top: 40px;
}


